[user]
	email = nicolas.briemant@gmail.com
  name = Nicolas Briemant
[push]
  default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
